<ion-view cache-view="false" view-title="Confirm Receipt">
	<ion-content>
		<form name="receipt_form" >
			<div class="card customcard">
				<div class="item item-divider">
				    Selected AWB
				</div>
				<a class="item" ng-repeat="b in selected">
				    <strong>{{b.awb_num}}</strong>
					<p> {{b.origin_addr}} - {{b.dest_addr}} </p>
				</a>
				<div class="item item-divider">
				    Receiver
				</div>
				<label class="item item-input">
                    <span class="input-label formfont">Receiver Name</span>
                    <input type="text" ng-model="receiver_name" disabled>
                </label>
                <label class="item item-input">
                    <span class="input-label formfont">Receiver Phone</span>
                    <input type="text" ng-model="receiver_phone" disabled>
                </label>
                <label class="item item-input">
                    <span class="input-label formfont">Receiver ID</span>
                    <input type="text" ng-model="receiver_id_num">
                </label>
                <label class="item item-input">
                    <span class="input-label formfont"><i class=" iconsize ion-ios-paper-outline"> </i>Notes</span>
                    <textarea ng-model="notes" name="notes"></textarea>
                </label>
				<div class="list">
                    <div class="item item-divider">
				    	Receiver Signature
				  </div>
                    <center>
                    	<div class="container">
				            <signature-pad height="300" width="350" dataurl="dataurl"></signature-pad>
				        </div>
					</center>
				</div>
			</div>
		</form>
		<center>
			<button class="button button-block bstyle button-energized" ng-click="clearsign()">Clear Signature</button>
			<button class="button button-block bstyle button-positive" ng-click="confirmreceipt(receipt_form.$valid)" ng-disabled="isDisabled">Confirm Receipt</button>
			<button class="button button-block bstyle button-assertive" ng-click="cancel()">Cancel</button>
		</center><br>
	</ion-content>
</ion-view>