<ion-view cache-view="false" view-title="Dashboard">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-home" ng-click="cancel()"></button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list" >
			<!-- <div class="item item-divider">
				Parcels Menu
			</div> -->
			<div class="item item-text-wrap">
			    <h2><strong>Pending Pickups and Drops</strong></h2>
			  </div>
			<div class="card">
			  <div class="item item-text-wrap">
			    You have {{numpickups}} pending pickups
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap">
			    You have {{numdrops}} pending drops
			  </div>
			</div>
			<div class="item item-text-wrap">
			    <h2><strong>Today's Pickups and Drops Completed</strong></h2>
			  </div>
			<div class="card">
			  <div class="item item-text-wrap">
			    You have completed {{completedpickups}} pickups
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap">
			    You have completed {{completeddrops}} drops
			  </div>
			</div>
			
		</div>
	</ion-content>
</ion-view>