<ion-view cache-view="false" view-title="Parcels Picked">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-home" ng-click="cancel()"></button>
    </ion-nav-buttons>
    <ion-content class="padding bg">
        <!-- <form ng-submit="dispatch()"> -->
        <label class="item item-input item-select">
            <span class="input-label formfont"><i class="iconsize ion-ios-contact"> </i>Company</span>
            <div ng-repeat="(id, name) in customers track by $index"></div>
            <select ng-model="sender_company" ng-options="customer as customer.name for customer in customers" ng-change="listpickedfun(sender_company.id)" required></select>
        </label>
        <center><ion-spinner icon="android" ng-show="loading"></ion-spinner></center>
        <div class="list card">
            <a class="item" ng-show="notfound">
                <center><h3>No picked up parcels</h3></center>
            </a>
            <div class="item item-divider" ng-hide="notfound">
                Picked Up Parcels
            </div>
            <ion-list>
                <ion-radio ng-if="dataLoaded" ng-repeat="b in listpicked" ng-model="selected" ng-value="" ng-change="selectItem(b)" name="select-awb">
                    <strong>{{ b.awb_num }}</strong>
                    <div class="item-text-wrap">{{b.origin_addr}} - {{b.dest_addr}}</div>
                </ion-radio>

            </ion-list>
         </div>
            <center>
                <button class="button button-block bstyle button-positive" ng-click="receive()" ng-disabled = "isDisabled" >Receive Parcel</button>
                <button class="button button-block bstyle button-assertive" ng-click="cancel()">Cancel</button>
            </center><br>
        <!-- </form> -->
    </ion-content>
</ion-view>