<ion-view cache-view="false" view-title="Parcels Menu">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-home" ng-click="cancel()"></button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list" >
			<!-- <div class="item item-divider">
				Parcels Menu
			</div> -->
			<a class="item item-icon-right" ng-click="details()">
				Parcel AWB details<i class="icon ion-android-arrow-forward"></i>
			</a>
			<a class="item item-icon-right" ng-click="booked()">
				Booked<i class="icon ion-android-arrow-forward"></i>
			</a>
			<a class="item item-icon-right" ng-click="picked()">
				Picked<i class="icon ion-android-arrow-forward"></i>
			</a>
			<a class="item item-icon-right" ng-click="received()">
				Received<i class="icon ion-android-arrow-forward"></i>
			</a>
		</div>
	</ion-content>
</ion-view>